operators:
  keycloak:
    enabled: true
  openshiftPipelines:
    enabled: true
  trustedArtifactSigner:
    enabled: true
  trustedProfileAnalyzer:
    enabled: true
  advancedClusterSecurity:
    enabled: true

namespaces: 
  - keycloak
  - tas
  - tas-operator  
  - tpa
  - tpa-operator  
  - acs
  - acs-operator 