---
operators:
  keycloak:
    enabled: true
  openshiftPipelines:
    enabled: true
  trustedArtifactSigner:
    enabled: true
  trustedProfileAnalyzer:
    enabled: true
  advancedClusterSecurity:
    enabled: true
  quay:
    enabled: true    
  # minio:
  #   enabled: true

consoleLinks:
  keycloak:
    enabled: true
  keycloakRealm:
    enabled: true
  minio:
    enabled: true
  acs:
    enabled: true
  quay:
    enabled: false
    
namespaces: 
  - keycloak
  - trusted-artifact-signer
  - trusted-artifact-signer-operator  
  - trusted-profile-analyzer
  - trusted-profile-analyzer-operator  
  - acs
  - acs-operator
  - minio
  - quay
  - gitea

keycloak:
  namespace: keycloak
  name: keycloak
  database:
    vendor: postgres
    host: keycloak-db-pgsql
    name: keycloak-db
    secretName: keycloak-db-pgsql-user
  route:
    # The host for the Keycloak route, this is the URL Keycloak will respond to.
    tls:
      # Toggles the TLS configuration for the Keycloak route, when disabled the
      # endpoint exposed is HTTP only.
      enabled: true

keycloakRealm:
  namespace: keycloak
  adminUsername: admin
  adminPassword: changeme
  adminEmail: admin@change.me  
  tas:
    enabled: true
    clients:
      tas:
        enabled: true  
  tpa:
    enabled: true
    clients:
      cli:
        enabled: true

tas:
  fulcio:
    certificate:
      organizationName: TSSC
      organizationEmail: tas@change.me
  integrationSecret:
    namespace: __OVERWRITE_ME__


tpa:
  # Realm's OIDC issuer URL, the endpoint to TPA's realm.
  database:
    sslMode: disable
    host:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: host
    port:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: port
    name:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: dbname
    username:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: user
    password:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: password
  createDatabase:
    name:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: dbname
    username:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: user
    password:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: password
  migrateDatabase:
    username:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: user
    password:
      valueFrom:
        secretKeyRef:
          name: tpadb-pgsql-user
          key: password  
  ingress:
    className: openshift-default
  modules:
    createDatabase:
      enabled: true
    migrateDatabase:
      enabled: true
    createImporters:
      enabled: true
    server:
      resources:
        requests:
          cpu: 1
          memory: 8Gi

  storage:
    type: filesystem
    size: 32Gi

trustification:
  appDomain: __OVERWRITE_ME__

minio:
  adminUser:
    username: admin
    password: changeme123
  storageSize: 50Gi
  # Buckets to create automatically after MinIO starts (default in subchart: [quay] for Quay registry)
  bucketsToCreate:
    - quay
    - test-bucket    

acs:
  collector:
    # Controls whether the collector should be configured to use external IPs for
    # network communication.
    config:
      expternal_ips_enable: true
  integrationSecret:
    namespace: acs
    name:  acs-integration


quay:
  # Must be false when using external S3 (e.g. Minio). If true, the Quay Operator
  # expects the objectbucket.io API (OpenShift Data Foundation / NooBaa), which
  # causes: "failed to find API group \"objectbucket.io\"" when ODF is not installed.
  objectStorageManaged: false
  clairVolumeSize: 10Gi
  # Optional: set initial superuser (quayadmin) password so you don't use the UI setup wizard.
  # When enabled, a one-time Job calls Quay's /api/v1/user/initialize after deploy.
  initialSuperuser:
    enabled: true
    username: quayadmin
    email: email@change.me
    password: changeme123   # set to create quayadmin with this password; or use existingSecretName
    # existingSecretName: quay-initial-admin  # optional: use a Secret with key "password"
  configBundle:
    # minio S3 configuration for Quay to use as storage backend
    quayS3AccessKey: admin
    quayS3SecretKey: changeme123