operators:
  keycloak:
    enabled: true
  openshiftPipelines:
    enabled: true
  trustedArtifactSigner:
    enabled: true
  trustedProfileAnalyzer:
    enabled: true
  advancedClusterSecurity:
    enabled: true

namespaces: 
  - keycloak
  - trusted-artifact-signer
  - trusted-artifact-signer-operator  
  - trusted-profile-analyzer
  - trusted-profile-analyzer-operator  
  - acs
  - acs-operator