---
operators:
  keycloak:
    enabled: true
  openshiftPipelines:
    enabled: true
  trustedArtifactSigner:
    enabled: true
  trustedProfileAnalyzer:
    enabled: true
  advancedClusterSecurity:
    enabled: true

namespaces: 
  - keycloak
  - trusted-artifact-signer
  - trusted-artifact-signer-operator  
  - trusted-profile-analyzer
  - trusted-profile-analyzer-operator  
  - acs
  - acs-operator

postgres:
  namespace: keycloak
  instance: keycloak-db

keycloak:
  namespace: keycloak
  name: keycloak
  database:
    vendor: postgres
    host: keycloak-db-pgsql
    name: keycloak-db
    secretName: keycloak-db-pgsql-user
  route:
    # The host for the Keycloak route, this is the URL Keycloak will respond to.
    tls:
      # Toggles the TLS configuration for the Keycloak route, when disabled the
      # endpoint exposed is HTTP only.
      enabled: true

keycloakRealm:
  namespace: keycloak
  tas:
    enabled: true
    clients:
      tas:
        enabled: true  
  tpa:
    enabled: false
    IssuerURL: __OVERWRITE_ME__
    clients:
      cli:
        enabled: true
      testingManager:
        enabled: false
      testingUser:
        enabled: false       
    integrationSecret:
      # Bombastic API URL.
      bombasticAPI: __OVERWRITE_ME__
      # OIDC client ID to interact with the Bombastic API endpoint.
      namespace: __OVERWRITE_ME__

tas:
  fulcio:
    oidc:
      # Keycloak's realm URL.
      issuerURL: __OVERWRITE_ME__
    certificate:
      organizationName: __OVERWRITE_ME__
      organizationEmail: __OVERWRITE_ME__
  integrationSecret:
    namespace: __OVERWRITE_ME__

