operators:
  keycloak:
    enabled: false
  openshiftPipelines:
    enabled: true
  trustedArtifactSigner:
    enabled: false
  trustedProfileAnalyzer:
    enabled: false
  advancedClusterSecurity:
    enabled: false