---
subDomain: __OVERWRITE_ME__
prefix: __OVERWRITE_ME__
count: __OVERWRITE_ME__


consoleLinks:
  gitea:
    enabled: false

gitea:
  name: gitea
  namespace: gitea

  image:
    name: quay.io/rhpds/gitea
    pullPolicy: IfNotPresent
    tag: "1.24.6"

  postgres:
    image:
      name: "registry.redhat.io/rhel9/postgresql-16"
      pullPolicy: IfNotPresent
      tag: latest

  users:
    createAdmin: false
    admin:
      username: __OVERWRITE_ME__
      password: __OVERWRITE_ME__
      passwordLength: 16
      email: __OVERWRITE_ME__
    createUsers: false
    userNumber: {{ .Values.count }}
    generateUserFormat: "{{ .Values.prefix }}%d"
    userPassword: __OVERWRITE_ME__
    userPasswordLength: 16
    userEmailDomain: __OVERWRITE_ME__

  repositories:
    migrateRepositories: false
    repositoriesList: [] 

  registration:
    disableRegistration: false
    enableCaptcha: false
    allowCreateOrganization: true
    registerEmailConfirm: false
    enableNotifyEmail: false

  mailer: 
    enabled: false
    from: 
    type: smtp
    host: 
    tls: true
    user: 
    password: 
    heloHostname: __OVERWRITE_ME__

  Webhook:
    allowedHostsList: 'external,private'
    skipTlsVerify: false 