---
subDomain: __OVERWRITE_ME__
prefix: __OVERWRITE_ME__
count: __OVERWRITE_ME__


consoleLinks:
  gitea:
    enabled: false

gitea:
  name: gitea
  namespace: gitea

  image:
    name: quay.io/rhpds/gitea
    pullPolicy: IfNotPresent
    tag: "1.24.6"

  postgres:
    image:
      name: "registry.redhat.io/rhel9/postgresql-16"
      pullPolicy: IfNotPresent
      tag: latest

  hostname: "gitea.{{ .Values.subDomain }}"

  users:
    createAdmin: false
    admin:
      username: __OVERWRITE_ME__
      password: __OVERWRITE_ME__
    createUsers: false
    userPassword: __OVERWRITE_ME__

  repositories:
    migrateRepositories: false
    repositoriesList: [] 

  registration:
    disableRegistration: false
    allowCreateOrganization: true

  Webhook:
    allowedHostsList: 'external,private'
    skipTlsVerify: false 