---
subDomain: __OVERWRITE_ME__

keycloakRealm:
  name: tssc-realm
  tpa:
    clientID: trusted-profile-analyzer
    IssuerURL: "https://sso.{{ .Values.subDomain }}/realms/{{ .Values.keycloakRealm.name }}"
    clientSecretName: trusted-profile-analyzer-client-secret
#
# Red Hat Trusted Profile Analyzer
#
#  https://access.redhat.com/products/red-hat-trusted-profile-analyzer
#
tpa:
  namespace: trusted-profile-analyzer
  name: trusted-profile-analyzer

  # Realm's OIDC issuer URL, the endpoint to TPA's realm.
  appDomain: "tpa.{{ .Values.subDomain }}"
  database:
    sslMode: disable
    host:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: host
    port:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: port
    name:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: dbname
    username:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: user
    password:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: password
  createDatabase:
    name:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: dbname
    username:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: user
    password:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: password
  migrateDatabase:
    username:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: user
    password:
      valueFrom:
        secretKeyRef:
          name: __OVERWRITE_ME__
          key: password  
  ingress:
    className: openshift-default
  modules:
    createDatabase:
      enabled: true
    migrateDatabase:
      enabled: true
    createImporters:
      enabled: true
      importers:
        redhat-sboms:
          sbom:
            description: All Red Hat SBOMs
            period: 1d
            source: https://access.redhat.com/security/data/sbom/beta/
            keys:
              - https://access.redhat.com/security/data/97f5eac4.txt#77E79ABE93673533ED09EBE2DCE3823597F5EAC4
            disabled: true
            fetchRetries: 50
        redhat-csaf:
          csaf:
            description: All Red Hat CSAF data
            period: 1d
            source: redhat.com
            disabled: true
            fetchRetries: 50
        cve:
          cve:
            description: CVE list v5
            period: 1d
            source: https://github.com/CVEProject/cvelistV5
            disabled: false
        osv-github:
          osv:
            description: GitHub Advisory Database
            period: 1d
            source: https://github.com/github/advisory-database
            path: advisories
            disabled: false
    server:
      enabled: true
      image: {}
      infrastructure: {}
      ingress: {}
      metrics: {}
      replicas: 1
      resources:
        requests:
          cpu: 1
          memory: 8Gi
      rust: {}
      tracing: {}
  # OIDC client configuration for the TPA and Keycloak realm import.
  oidc:
    issuerUrl: "{{ .Values.keycloakRealm.tpa.IssuerURL }}"
    clients:
      cli:
        clientSecreName: "{{ .Values.keycloakRealm.tpa.clientSecretName }}"
    # testingUser:
    #   clientSecreName: "{{ .Values.keycloakRealm.tpa.clientSecretName }}"
    # testingManager:
    #   clientSecreName: "{{ .Values.keycloakRealm.tpa.clientSecretName }}"


  rust:
    logFilter: debug
    backtrace: true

  storage:
    type: filesystem
    size: 32Gi

  # TLS configuration.
  tls:
    serviceEnabled: true
    # Additional CA certificates to trust, which is fundamental to support
    # OpenShift internal TLS communication.
    additionalTrustAnchor: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt 
  # TPA is composed by services, each service needs integration with S3 bucket and
  # Kafka topics. When the bucket receives a new document, a message is issued to
  # the "stored" Kafka topic.
#
# Trustification Helm chart values, linking its configuration with Red Hat's
# Trusted Profile Analyzer chart sections.
#
#   https://github.com/trustification/trustification
#
trustification:
  appDomain: __OVERWRITE_ME__
